html,body{
    -webkit-app-region:drag;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
}
video::-webkit-media-controls-enclosure {
    display: none;
}

.bgcontainer{
    opacity: 0;
    transition: opacity 500ms ease 0s;
}

.bgcontainer,.bgimage,.bgvideo{
    width: 100%;
    height: 100%;
}
.bgimage{
    background-size: cover;
}

.toolbar{
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 80px;
}


.button-container{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding-right: 20px;    
    opacity: 0.3;
    transition: opacity 0.2s ease 0s;
}

.button-container:hover{
    opacity: 1;
}

.button{
    -webkit-app-region:no-drag;
    background: url('../assets/button.png');
    height:42px;
    width: 42px;
    margin: 0 10px;
    display: inline-block;
    background-position: 0px 0px;
    transition: opacity 500ms ease 0s;
}

.button-share{

}
.button:hover{    
    animation: buttonhover 0.15s steps(7) 1;
    animation-fill-mode: forwards;
}
.button-previous{
    background-position-y: -84px;
}

.button-next{
    background-position-y: -128px;
}

.button-play{
    display: none;
}

.button-download{
    background-position-y: -170px;
    cursor: default
}

.button-info{
    background-position-y: -42px;
}


@keyframes buttonhover{
    0%{ background-position-x: 0 }
    100%{ background-position-x: -294px}
}

.info{
    -webkit-app-region:no-drag;
    position: fixed;
    width :440px;
    height: calc(100% - 120px);
    z-index: 1;
    top: 0;
    right: 0;
    padding-bottom: 120px;
    background: rgba(0,0,0,0.8);
    /*right: -440px;*/
    /*opacity: 0;*/
    transition: all 0.6s ease 0s;
}

.info-hide{
    right:-440px;
    opacity: 0;
}

.info-content{
    height: 100%;
    width: 410px;
    padding:20px 0 0 30px;
    transition: opacity 0.5s ease 0s;
    overflow-x: hidden;
    overflow-y: scroll;
}

.copyright{
    cursor: pointer;
    user-select: none;
    position: fixed;
    bottom: 72px;
    right: 0;
    color: #FFF;
    text-shadow:0px 1px 2px rgba(0,0,0,0.9);
    padding:5px 25px 5px 0px;
    font-size: 16px;
    font-family: 'Source Han Sans Light','华文中宋','宋体','Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
    opacity: 0.4;
    transition: opacity 0.5s ease 0s;
    -webkit-app-region:no-drag;
}

.copyright:hover{
    opacity: 0.8;
}